.button {
    display: inline-block;
    background: #00C470;
    border-radius: 30px;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    transition: .3s;

    &:hover{
        background: #029b59d8;
    }
    
    &:focus {
        outline: none;
        background: #017a46;
    }
}